extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  .courses
    each collection, name in collections
      -collectionIndex = '/' + name + '/index'
      -collectionMetadata = matter(collectionIndex + '.md')
      -realName = collectionMetadata.title || name
      -link = collectionMetadata.external  || relative(collectionIndex + '.html')
      -logo = relative('/' + name + '/logo-black.png')
      -if (!isFile(path.dir, logo)) logo = relative('/logo-black.png')
      a(href=link id=name)
        img(src=logo)
        .name
          span= realName
          if collectionMetadata.external
            span.glyphicon.glyphicon-new-window

  script.
    // detect if first time users enters through index
    window.thisIsTheIndex = true;
