extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  .courses
    -courses = sort(collections)
    each course in courses
      -collectionIndex = '/' + course.name + '/index'
      -collectionMetadata = matter(collectionIndex + '.md')
      -realName = collectionMetadata.title || course.name
      -indexLink = relative(collectionIndex + '.html')
      -link = collectionMetadata.external  || indexLink
      -logo = relative('/' + course.name + '/logo-black.png')
      -if (!isFile(path.dir, logo)) logo = relative('/logo-black.png')
      a(href=link id=course.name data-index=indexLink)
        .logo-wrapper
          img(src=logo)
        if !collectionMetadata.external
          .lessons
            strong Antall oppgaver
            span= ': '+ (course.lessons.length - 1)
        .name
          span= realName
          if collectionMetadata.external
            span.external

  script.
    // detect if first time users enters through index
    window.thisIsTheIndex = true;
