extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  .courses
    -courses = sort(collections)
    each course in courses
      -collectionIndex = '/' + course.name + '/index'
      -collectionMetadata = matter(collectionIndex + '.md')
      -realName = collectionMetadata.title || course.name
      -link = collectionMetadata.external  || relative(collectionIndex + '.html')
      -logo = relative('/' + course.name + '/logo-black.png')
      -if (!isFile(path.dir, logo)) logo = relative('/logo-black.png')
      a(href=link id=course.name)
        .logo-wrapper
          img(src=logo)
        .lessons
          strong(data-i18n="html=layout.numberOfLessons")= t('layout.numberOfLessons')
          span= ': '+ course.lessons.length
        .name
          span= realName
          if collectionMetadata.external
            span.external

  script.
    // detect if first time users enters through index
    window.thisIsTheIndex = true;
