html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    -windowTitle = title +" | "+ t('layout.codeClubName')
    title= windowTitle
    link(href=relative("/assets/style.min.css") rel="stylesheet")
    //- relative path to root
    script(type="text/javascript").
      // convert url relative to current file
      // ex: python/index.html -> ../python/index.html
      function relative(url) {
        var urlRoot = '#{relative('/')}';
        if (urlRoot !== '') {
          return urlRoot + '/' + url;
        }
        return url;
      }
  body
    .container
      .row
        .col-xs-12
          .top-menu
            .navigation
              a(href=relative('/index.html'))
                span.glyphicon.glyphicon-home(aria-hidden="true")
                span &nbsp;
                span(data-i18n="html=layout.home")= t("layout.home")
              -course = _.first(collection)
              -courseIndex = '/' + course + '/index.md'
              -courseMetadata = matter(courseIndex)
              -courseName = courseMetadata.title || course
              if course
                span &nbsp;/&nbsp;
                a(href=relative('/' + course))= courseName
            a.intro(
              data-i18n="title=layout.takeTour"
              title=t('layout.takeTour')
              data-placement="bottom"
              href="#"
            )
              span.icon
              span.text Intro
            form.search
              input.form-control(
                type="text"
                data-i18n="placeholder=layout.search"
                placeholder=t('layout.search')
              )
            if config.showFlags
              .flags
                a.flag.btn.btn-default(onclick="setLanguage('nb-NO')")
                  img(src="/assets/img/flag_norway.png")
                a.flag.btn.btn-default(onclick="setLanguage('en-US')")
                  img(src="/assets/img/flag_usa.png")
        .search
          .results
            h1(data-i18n="html=layout.searchResults")
              = t('layout.searchResults')
        block content
        .col-xs-12
          #footer.clearfix
            if license !== false
              .license
                p
                  strong(data-i18n="html=layout.license")
                    = t('layout.license')
                  strong :
                if license
                  - license = markdown.render(license)
                  != license
                else
                  a(
                    rel="license"
                    data-i18n="href=layout.licenseUrl"
                    href=t('layout.licenseUrl')
                  ) CC BY-SA 4.0
            if author
              - author = markdown.render(author)
              .author
                p
                  strong(data-i18n="html=layout.author")
                    = t('layout.author')
                  strong :
                != author
            if translator
              - translator = markdown.render(translator)
              .translator
                p
                  strong(data-i18n="html=layout.translator")
                    = t('layout.translator')
                  strong :
                != translator
            if footer
              - footer = markdown.render(footer)
              .note!= footer

    .intro-question.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title(data-i18n="html=layout.greeting")
              = t('layout.greeting')
          .modal-body
            p(data-i18n="html=layout.askTour")= t('layout.askTour')
          .modal-footer
            button.btn.btn-success(data-i18n="html=layout.yes")
              = t('layout.yes')
            button.btn.btn-danger(
              data-dismiss="modal"
              data-i18n="html=layout.no"
            )= t('layout.no')

    script(src=relative("/assets/vendor.min.js"))
    script(src=relative("/assets/script.min.js"))
    block scripts
