html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title +" | Kodeklubben"
    link(href=relative("/assets/style.min.css") rel="stylesheet")
    //- relative path to root
    script(type="text/javascript").
      // convert url relative to current file
      // ex: python/index.html -> ../python/index.html
      function relative (url) {
        var urlRoot = '#{relative('/')}';
        if (urlRoot !== '') {
          return urlRoot + '/' + url;
        }
        return url;
      }
  //- if lesson is defined, this is README.md -> other colors
  body(class=lesson ? 'teacher' : '')
    .container
      .row
        .col-xs-12
          .top-menu
            .navigation
              a(href=relative('/index.html'))
                span.glyphicon.glyphicon-home(aria-hidden="true")
                span &nbsp;
                span Forside
              -course = _.first(collection)
              -courseIndex = '/' + course + '/index.md'
              -courseMetadata = matter(courseIndex)
              -courseName = courseMetadata.title || course
              -logo = relative('/' + course + '/logo-black.png')
              if course
                span &nbsp;/&nbsp;
                if (isFile(path.dir, logo))
                  img(src=logo)
                a(href=relative('/' + course))= courseName
            a.intro(
              title="Ta en omvisning på siden"
              data-placement="bottom"
              href="#"
            )
              span.icon
              span.text Intro
            form.search
              input.form-control(
                type="text"
                placeholder="Søk"
              )
            if config.showFlags
              .flags
                a.flag.btn.btn-default(onclick="setLanguage('nb-NO')")
                  img(src="/assets/img/flag_norway.png")
                a.flag.btn.btn-default(onclick="setLanguage('en-US')")
                  img(src="/assets/img/flag_usa.png")
        .search
          h1 Søkeresultat
          .results
        block content
        .col-xs-12
          #footer.clearfix
            if license !== false
              .license
                p
                  strong Lisens:
                if license
                  - license = markdown.render(license)
                  != license
                else
                  a(
                    rel="license"
                    href="http://creativecommons.org/licenses/by-sa/4.0/deed.no"
                  ) CC BY-SA 4.0
            if author
              - author = markdown.render(author)
              .author
                p
                  strong Forfatter
                != author
            if translator
              - translator = markdown.render(translator)
              .translator
                p
                  strong Oversetter:
                != translator
            if footer
              - footer = markdown.render(footer)
              .note!= footer

    .intro-question.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title Hei der!
          .modal-body
            p Ser ut som dette er ditt første besøk, vil du ha en omvisning?
          .modal-footer
            button.btn.btn-success Ja!
            button.btn.btn-danger(data-dismiss="modal") Nei takk

    script(src=relative("/assets/vendor.min.js"))
    script(src=relative("/assets/script.min.js"))
    block scripts
