html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} | Kodeklubben
    link(href=relative("/assets/style.min.css") rel="stylesheet")
    //- relative path to root
    script(type="text/javascript").
      // convert url relative to current file
      // ex: python/index.html -> ../python/index.html
      function relative(url) {
        var urlRoot = '#{relative('/')}';
        if (urlRoot !== '') {
          return urlRoot + '/' + url;
        }
        return url;
      }
  body
    .container
      .row
        .col-xs-12
          .top-menu
            a.btn.btn-default(href=relative("/index.html"))
              span.glyphicon.glyphicon-home(aria-hidden="true")
              span.hidden-xs  Forside
            form.search
              input.form-control(type="text" placeholder="Søk")
            .links
              a.btn.btn-default(href='http://www.kidsakoder.no')
                span.hidden-xs Lær Kidsa Koding
            a.intro(title="Take introduction tour" data-placement="bottom" href="#")
        .search
          .results
            h1 Søkeresultat
        block content
        .col-xs-12
          #footer.clearfix
            if license !== false
              .license
                p: strong Lisens:
                if license
                  - license = marked(license)
                  != license
                else
                  a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.no").
                    CC BY-SA 4.0
            if author
              - author = marked(author)
              .author
                p: strong Forfatter:
                != author
            if translator
              - translator = marked(translator)
              .translator
                p: strong Oversetter:
                != translator
            if footer
              - footer = marked(footer)
              .note!= footer

    .intro-question.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title Hi there!
          .modal-body
            p Seems like this is your first time here. Would you like a tour?
          .modal-footer
            button.btn.btn-success Yes!
            button.btn.btn-danger(data-dismiss="modal") No thanks

    script(src=relative("/assets/vendor.min.js"))
    script(src=relative("/assets/script.min.js"))
    block scripts
