extends ./layout.jade

//- playlists
mixin PlaylistIndex(playlist)
  .playlist
    li(title="Klikk for å utvide" id=playlist.id)
      .icon
      .name= playlist.name

    each lesson in playlist.lessons
      -
        attrs = { style: 'display:none',
                  class: playlist.id +' level-'+ lesson.level }
      +Lesson(lesson, attrs)

//- levels
mixin LevelIndex(level, lessons)
  // sort lessons by filename
  -lessons = _.sortBy(lessons, 'link')
  .level.col-xs-12.col-sm-6(id=name)
    h2.clearfix(class='level-' + level)
      = config.levelNames[level]

    //- all lessons which does not have `indexed: false`
    each lesson in lessons
      +Lesson(lesson)

// lesson
mixin Lesson(lesson, attrs)
  -attrs = attrs || {}
  //- if external tag set, use that as link
  -link = lesson.external || relative(lesson.link).replace(/\.md$/, '.html')
  a(href=link)
    li.lesson&attributes(attrs)= lesson.title
      if lesson.readme
        span.readme(
          href=relative(lesson.readme)
          title="Lærerveiledning"
        )
        // click -> js redirect to readme
      if lesson.external
        span.external



block content
  //- insert contents from index.md
  .col-xs-12
    h1.info
      span.infoicon.glyphicon.glyphicon-plus-sign
      = ' ' + title
      span.clickformore Klikk her for mer info
    .content(style="display:none")!= contents

  //- plalists
  if playlists[path.dir] && playlists[path.dir].length
    .playlists.col-xs-12.col-sm-6(id=name)
      h2 Oppgavesamlinger
      each playlist in playlists[path.dir]
        +PlaylistIndex(playlist)

  //- levels
  //- sorted list of levels
  -levels = _.uniq(_.compact(_.pluck(collections[path.dir], 'level'))).sort()
    each level in levels
      +LevelIndex(level, _.where(collections[path.dir], {level: level}))
