extends ./layout.jade

//- playlists
mixin playlistIndex(playlist)
  .playlist
    li(data-i18n="title=layout.clickToExpand" title=t('layout.clickToExpand') id=playlist.id)
      .icon
      .name= playlist.name

    each lesson in playlist.lessons
      //- if external tag set, use that as link
      -link = lesson.external || relative(lesson.link)
      a(href=link)
        li.lesson(style="display:none" class=playlist.id + ' level-' + lesson.level)
          = lesson.title
          if lesson.external
            span.glyphicon.glyphicon-new-window


//- levels
mixin levelIndex(level, lessons)
  .level.col-xs-12.col-sm-6.col-md-4(id=name)
    -levelName = 'layout.levelNames.' + level
    -dataLevelName = 'html=' + levelName
    h2.clearfix(class='level-' + level data-i18n=dataLevelName)
      = t(levelName)

    //- all lessons which does not have `indexed: false`
    each lesson in lessons
      //- if external tag set, use that as link
      -link = lesson.external || relative(lesson.link.replace(/\.md$/, '.html'))
      a(href=link)
        li.lesson= lesson.title
          if lesson.external
            span.glyphicon.glyphicon-new-window


block content
  //- insert contents from index.md
  .col-xs-12
    h1.info
      span.infoicon.glyphicon.glyphicon-plus-sign
      = ' ' + title
      span.clickformore(data-i18n="html=layout.clickForInfo")= t('layout.clickForInfo')
    .content(style="display:none")!= contents

  //- plalists
  if playlists[path.dir] && playlists[path.dir].length
    .playlists.col-xs-12.col-sm-6.col-md-4(id=name)
      h2(data-i18n="html=layout.playlists")= t('layout.playlists')
      each playlist in playlists[path.dir]
        +playlistIndex(playlist)

  //- levels
  //- sorted list of levels
  -levels = _.uniq(_.compact(_.pluck(collections[path.dir], 'level'))).sort()
    each level in levels
      +levelIndex(level, _.where(collections[path.dir], {level: level}))
