extends ./layout.jade

block content
  .col-xs-12
    header.clearfix
      -if (!logo) logo = relative("/assets/img/ccno_logo.png")
      img.logo.hidden-xs(src=logo)
      h1.title= title
      .lesson-icons
        .level
          img(title="Level " + level src=relative("/assets/img/level" + level + ".png"))
          -levelName = config.levelNames[level]
          span= levelName
        .course
          -course = _.first(collection)
          -courseIndex = '/' + course + '/index.md'
          -courseMetadata = matter(courseIndex)
          -courseName = courseMetadata.title || course
          -courseLogo = relative("/" + course + "/logo-white.png")
          -if (!isFile(path.dir, courseLogo)) courseLogo = relative('/logo-white.png')
          img(src=courseLogo)
          span= courseName
        .pdf
          a.download(href=link.replace('.html', '.pdf') data-i18n="title=layout.downloadPdf" title=t('layout.downloadPdf'))
            span.glyphicon.glyphicon-save-file
          span PDF

  .col-xs-12
    .content!= contents
