extends ./layout.jade

block content
  .col-xs-12
    header(class=lesson ? "clearfix teacher" : clearfix)
      -if (!logo) logo = relative('/assets/img/ccno_logo.png')
      img.logo.hidden-xs(src=logo)
      h1.title= title
      .lesson-icons
        if level
          .level
            img(title="Nivå " + level src=relative('/assets/img/level' + level + '.png'))
            span= config.levelNames[level]
        -course = _.first(collection)
        -courseIndex = '/' + course + '/index.md'
        -courseMetadata = matter(courseIndex)
        -courseName = courseMetadata.title || course
        -courseLink = relative('/' + course)
        -courseLogo = relative('/' + course + '/logo-white.png')
        -if (!isFile(path.dir, courseLogo)) courseLogo = relative('/logo-white.png')
        a.course(href=courseLink)
          img(src=courseLogo)
          span= courseName
        .pdf
          a(href=link.replace('.html', '.pdf') title="Last ned PDF")
            span.icon
            span.text PDF
        if readme
          .readme
            a(href=relative(readme))
              span.icon
              span.text Lærerveiledning
        if lesson
          .lesson-link
            a(href=relative(lesson))
              span.icon
              span.text Oppgave

  .col-xs-12
    if lesson
      // this is README.md and an accompanying lesson is found
      // add .teacher class to allow for different styling
      .content.teacher!= contents
    else
      .content!= contents

    .improve
      h3 Forbedre denne siden
      p Funnet en feil? Kunne noe vært bedre? Hvis ja, vennligst gi oss tilbakemelding ved å lage en sak på Github eller fiks feilen selv om du kan. Vi er takknemlige for enhver tilbakemelding!
      -codePlacement = [config.repo, 'tree/master', config.sourceFolder, path.dir].join('/')
      -createIssue = config.repo + '/issues/new?'
      -createIssue += 'title=Problem med ' + courseName + ': ' + title
      -createIssue += '&body=Oppgavens kildekode: ' + codePlacement + ''
      a.issue(href=createIssue) Rapporter et problem
      a.code(href=codePlacement) Vis koden og fiks selv
