extends ./layout.jade

//- playlists
mixin playlistIndex(playlist)
  li.playlist(title="Klikk for å utvide" id=playlist.id)
    .icon
    .name= playlist.name

  each lesson in playlist.lessons
    //- if external tag set, use that as link
    -link = lesson.external || relative(lesson.link)
    a(href=link)
      li.playlist.lesson(style="display:none" class=playlist.id + ' level-' + lesson.level)
        = lesson.title
        if lesson.external
          span.glyphicon.glyphicon-new-window


//- levels
mixin levelIndex(level, lessons)
  .level.col-xs-12.col-sm-6.col-md-4(id=name)
    h2.clearfix(class='level-' + level)= config.levelNames[level]

    //- all lessons which does not have `indexed: false`
    each lesson in lessons
      //- if external tag set, use that as link
      -link = lesson.external || relative(lesson.link.replace(/\.md$/, '.html'))
      a(href=link)
        li.lesson= lesson.title
          if lesson.external
            span.glyphicon.glyphicon-new-window


block content
  //- insert contents from index.md
  .col-xs-12
    h1.info.attention(title="Klikk på meg for en introduksjon")
      span.glyphicon.glyphicon-info-sign
      = ' ' + title
    .content(style="display:none")!= contents

  //- plalists
  if playlists[path.dir] && playlists[path.dir].length
    .playlists.col-xs-12.col-sm-6.col-md-4(id=name)
      h2 Oppgavesamlinger
      each playlist in playlists[path.dir]
        +playlistIndex(playlist)

  //- levels
  //- sorted list of levels
  -levels = _.uniq(_.compact(_.pluck(collections[path.dir], 'level'))).sort()
    each level in levels
      +levelIndex(level, _.where(collections[path.dir], {level: level}))
