extends ./layout.jade

mixin collection(name, collection)
  div.col-sm-6.col-md-4(id=name)
    h2= name.charAt(0).toUpperCase() + name.substr(1)
    each exercise in collection
      if !exercise.level
        a(href=exercise.link)
          li.list-group-item= exercise.title
      else if (typeof exercise.level === 'number' && exercise.level % 1 === 0)
        //- level is int, ie 1
        li.list-group-item
          span.glyphicon.glyphicon-play-circle
          |  #{exercise.title}
      else if typeof exercise.level === 'number' && exercise.level % 1 != 0
        //- level is float, ie 1.1
        a(href=exercise.link)
          li.list-group-item #{exercise.level.toString().substring(2)} #{exercise.title}


block content
  //- HACKHACK
  //- filter out circular references and key==contents of js-objects
  - function f(k,v){if (k=='next' || k=='contents' || k=='previous') return undefined; else return v;}
  //- Send variable to client, for debugging
  script.
    collections = !{JSON.stringify(collections, f)};

  //- insert contents from index.md
  .content!= contents

  //- create links to exercises
  each collection, name in collections
    +collection(name, collection)
