extends ./layout.jade

//- Mixin for indexing lessons
mixin collection(name, collection)
  -var playlistPrinted = playlist || {};
  .col-sm-6.col-md-3(id=name)
    h2= name.charAt(0).toUpperCase() + name.substr(1)
    each lesson in collection
      if lesson.published !== false
        if !lesson.playlist
          a(href=relative(lesson.link))
            li.list-group-item= lesson.title
        else
          //- lesson is in a playlist
          - var id = playlistId(lesson.playlist)
          if !playlistPrinted[id]
            //- first lesson in playlist
            li.list-group-item.playlist(id=id)
              span.glyphicon.glyphicon-play
              |  #{lesson.playlist}
            -playlistPrinted[id] = true;
          a(href=relative(lesson.link))
            li.list-group-item.playlist-item(style="display:none" class=id)
              span.glyphicon.glyphicon-play-circle
              = ' ' + lesson.title


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  //- create links to lessons
  each collection, name in collections
    +collection(name, collection)
