extends ./layout.jade

//- Mixin for indexing exercises
mixin collection(name, collection)
  -var playlistPrinted = playlist || {};
  div.col-sm-6.col-md-4(id=name)
    h2= name.charAt(0).toUpperCase() + name.substr(1)
    each exercise in collection
      if !exercise.playlist
        a(href=relative(exercise.link))
          li.list-group-item= exercise.title
      else
        //- lesson is in a playlist
        - var id = playlistId(exercise.playlist)
        if !playlistPrinted[id]
          //- first exercise in playlist
          li.list-group-item.playlist(id=id)
            span.glyphicon.glyphicon-play-circle
            |  #{exercise.playlist}
          -playlistPrinted[id] = true;
        a(href=relative(exercise.link))
          li.list-group-item(style="display:none" class=id)= exercise.title


block content
  //- insert contents from index.md
  .content!= contents

  //- create links to exercises
  .row
    each collection, name in collections
      +collection(name, collection)
