extends ./layout.jade

block content
  //- HACKHACK
  //- filter out circular references and key==contents of js-objects
  - function f(k,v){if (k=='next' || k=='contents' || k=='previous') return undefined; else return v;}
  //- Send variable to client, for debugging
  script.
    collections = !{JSON.stringify(collections, f)};

  //- insert contents from index.md
  .content!= contents

  //- create links to exercises
  .row
    #python.col-md-6
      h2 Python
      each exercise in collections.python
        a(href=exercise.link)
          li.list-group-item= exercise.title
    #scratch.col-md-6
      h2 Scratch
      each exercise in collections.scratch
        a(href=exercise.link)
          li.list-group-item= exercise.title
