extends ./layout.jade

//- Mixin for indexing lessons
mixin collection(name, collection)
  .col-sm-6.col-md-3(id=name)
    h2.clearfix= name.charAt(0).toUpperCase() + name.substr(1)
      a.download(href=name + '.zip' title="Last ned alle oppgaver")
        span.glyphicon.glyphicon-download-alt

    //- playlists from text files in `playlistFolder`
    each playlist in playlists[name]

      li.playlist(id=playlist.id)
        .icon
        .name= playlist.name

      each lesson in playlist.lessons
        a(href=relative(lesson.link))
          li.playlist.lesson(style="display:none" class=playlist.id + ' level-' + lesson.level)
            = lesson.title

    //- all lessons which does not have `indexed: false`
    each lesson in collection
      if lesson.indexed !== false
        a(href=relative(lesson.link))
          li.lesson(class='level-' + lesson.level)= lesson.title


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  //- create links to lessons
  each collection, name in collections
    -collection = _.sortBy(collection, ['level', 'link'])
    +collection(name, collection)
