html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title} | YourCodeClubName
    link(href=relative("/assets/style.min.css") rel="stylesheet")
  body
    .container
      .row
        .col-xs-12
          .top-menu
            a.btn.btn-default(href=relative("/index.html"))
              span.glyphicon.glyphicon-home(aria-hidden="true")
              |  Home
            form.search
              input.form-control(type="text")
              botton.btn.btn-default Search
        block content
        .col-xs-12
          #footer.clearfix
            if license !== false
              .license
                p: strong License:
                if license
                  - license = marked(license)
                  != license
                else
                  a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/").
                    CC BY-SA 4.0
            if author
              - author = marked(author)
              .author
                p: strong Author:
                != author
            if translator
              - translator = marked(translator)
              .translator
                p: strong Translator:
                != translator
            if footer
              - footer = marked(footer)
              .note!= footer


    script(src=relative("/assets/vendor.min.js"))
    script(src=relative("/assets/script.min.js"))
    block scripts
