extends ./layout.jade

block content
  .col-xs-12
    header.clearfix
      -if (!logo) logo = relative("/assets/img/ccno_logo.png")
      img.logo.hidden-xs(src=logo)
      img.logo(title=collection src=relative("/assets/img/" + collection + ".png"))
      h1.level= level
      h1.title= title
        a.download(href=link.replace('.html', '.pdf') title="Download PDF")
          span.glyphicon.glyphicon-save-file

  .col-xs-12
    .content!= contents
