extends ./layout.jade

block content
  .col-xs-12
    header.clearfix
      -if (!logo) logo = relative("/assets/img/ccno_logo.png")
      img.logo.hidden-xs(src=logo)
      h1.title= title
      .lesson-icons
        .level
          img(title="Level " + level src=relative("/assets/img/level" + level + ".png"))
          -levelName = config.levelNames[level]
          span= levelName
        .course
          img(src=relative("/" + collection + "/logo-white.png"))
          -collection = collection[0]
          -index = '/' + collection + '/index.html'
          -courseName = _.pluck(_.where(collections[collection], {link: index}), 'title')
          span= courseName
        .pdf
          a.download(href=link.replace('.html', '.pdf') title="Download PDF")
            span.glyphicon.glyphicon-save-file
          span PDF 

  .col-xs-12
    .content!= contents
